/*-- scss:defaults --*/

// Sass Variables
//https://quarto.org/docs/output-formats/html-themes.html#sass-variables
//https://github.com/cwickham/quarto-website-video/blob/v0.3/styles.scss
//https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

$navbar-bg: navy; 
$navbar-fg: #eeeeee;
$body-bg:  #eeeeee;


$border-color: black;

//https://github.com/orgs/quarto-dev/discussions/2490

.blockquote {
    color: #0000FF !important; /* !important sẽ ghi đè lên giá trị */
}

blockquote {
    border-left: .25rem solid #FF9A1C !important;
      }

      
.quarto-grid-item.card-left {  
    border: 1px solid navy !important;
}

/* .card-body{
  
  border: 1px solid #0000FF !important;
  
} */

//https://quarto.org/docs/output-formats/html-code.html
//https://hamel.dev/notes/quarto/highlighting.html
//https://github.com/quarto-dev/quarto-cli/tree/main/src/resources/pandoc/highlight-styles
//https://stackoverflow.com/questions/77937498/custom-syntax-highlighting-for-light-and-dark-mode-quarto
//https://github.com/orgs/quarto-dev/discussions/12422
$code-block-bg: #282a36;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family-sans-serif: "Poppins", sans-serif;
$font-size-root: 17px;

/* callout */

.callout.callout-style-default .callout-body {
    background-color: #FFFBB3;
      }
      
      
      
